<html>
    <head>
        <title>Taller DjangoGirls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 18.01.2017, 12:14</p>
            <h2><a href="">Introducción</a></h2>
            <p>¿Alguna vez has tenido la sensación de que el mundo es cada vez más tecnológico? ¿que cada vez lo entiendes menos? ¿Alguna vez te has planteado crear un sitio web pero no sabías por dónde empezar? ¿Has pensado alguna vez que el mundo del software es demasiado complicado como para intentar hacer algo por tu cuenta?</p>
        </div>

        <div>
            <p>published: 17.01.2017, 12:14</p>
            <h2><a href="">¿Qué aprenderás con este tutorial?</a></h2>
            <p>Cuando termines el tutorial, tendrás una aplicación web sencilla y funcional: tu propio blog. Te mostraremos como ponerla en línea, ¡para que otros puedan ver tu trabajo!</p>
        </div>
    </body>
</html>
